@{
    ViewBag.Title = "Admin Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <li>
                    <h1>@ViewBag.Title.</h1>
                </li>
                <li>
                    <h2>@ViewBag.Message</h2>
                </li>
            </hgroup>
        </div>
    </section>
}

