@model CustomerSite.Models.NewPostModel
@{
    ViewBag.Title = "Entries";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <p><h1>@ViewBag.Title</h1>
                    <div class="float-right">
                        @Html.ActionLink("[+] Post New Entry", "NewPost", "Home")
                    </div>
                </p>

                <section id="Echo1">
<h2>Entries go here</h2>

</section>
                <p>
                <h2>@ViewBag.Message</h2>
                </p>
            </hgroup>
        </div>
    </section>
}


